nav.navbar.navbar-default(role='navigation')
    .container-fluid
        section.navbar-header
            button.navbar-toggle.collapsed(type='button',
                data-toggle='collapse',
                data-target='navbar-collapse',
                aria-expanded=false)
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/') food-diary

        section#navbar-collapse.collapse.navbar-collapse
            ul.nav.navbar-nav
                li(ng-repeat='item in nav.menu', ui-sref-active='active')
                    a(ui-sref='{{ item.state }}') {{ item.title }}

                li(ng-show='nav.isLoggedIn()', ng-repeat='item in nav.userMenu', ui-sref-active='active')
                    a(ui-sref='{{ item.state }}') {{ item.title }}

                li(ng-show='nav.isAdmin()', ui-sref-active='active')
                    a(ui-sref='admin') Admin

            ul.nav.navbar-nav.navbar-right
                li(ng-hide='nav.isLoggedIn()', ui-sref-active='active')
                    a(ui-sref='signup') Sign up

                li(ng-hide='nav.isLoggedIn()', ui-sref-active='active')
                    a(ui-sref='login') Login

                li(ng-show='nav.isLoggedIn()', ui-sref-active='active')
                    a(ui-sref='settings')
                        i.fa.fa-cog.fa-lg

                li(ng-show='nav.isLoggedIn()')
                    a(ui-sref='logout') Logout