
.container
    .row(ng-repeat='recipe in recipes.list')
        .col.s12.m6.l3
            .hoverable.card
                section.card-image
                    img(ng-src='assets/images/recipes/{{ recipe.image }}')
                section.card-content
                    span {{ recipe.title }}
