
.container
    .row
        .col.s12.m6.l3(ng-repeat='recipe in vm.list')
            .hoverable.card
                section.card-image
                    img(ng-src='assets/images/recipes/{{ recipe.image }}')
                section.card-content
                    span {{ recipe.title }}
